*{
    font-family: arial;
}
a{
    text-decoration: none;
}
body{
    height: 2500px;
    margin: 0;
    background-color: #888888;
}
.curtain-{
    background-color: black;
    position: absolute;
    height: 2500px;
    width: 100%;
    opacity: 0;
    z-index: -1;
}