
/* Email curtain */
.curtain-email-{
    background-color: transparent;
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 3;
}
#email_img_{
    display: none;
}
#email_img_:checked ~ label .curtain-email-{
    display: block;
}



/* Emial icon */
.email-img-{
    position: fixed;
        top: 5px;
        right: 70px;
    display: flex;
    z-index: 3;
    cursor: pointer;
}
.email-img- img{
    width: 60px;
    object-fit: contain;
}


@media (min-height: 1200px){
    .email-img-{
        right: 100px;
    }
    .email-img- img{
        width: 90px;
    }
}


/* The emial */
.email-section-{
    background-color: white;
    position: fixed;
        top: -370px;
    display: block;
    flex-direction: column;
    
    width: 100%;
    padding: 30px 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 3;
    -webkit-text-size-adjust: none;
}
.contact-form-{
    display: block;
    flex-direction: column;
}
#email_img_:checked ~ .email-section-{
    top: 0;
    transition: 500ms;
}

@media (min-height: 1200px) {
    .email-section-{
        padding-bottom: 80px;
        top: -900px;
    }
}


/* Top options */
.top-h1- button{
    background-color: transparent;
    border: none;
    font-size: 18px;
}
.top-h1- button:first-child h1{
    text-decoration: underline;
}
#comment_form_{
    display: none;
}


/* Top part */
.profile-{
    display: flex;
    margin: 10px 20px;
}



/* The name, emial and comment container */
.top-input-{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comm-{
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 30px;
}



/* The inputs */
.top-input- input{
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
    width: calc(100% + -10px);
    margin: 5px 0;
    padding: 5px;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 0 0 0 0.5px black;
}
.top-input- input:focus-visible{
    box-shadow: 0 0 0 1px inset rgb(0, 162, 255);
}

.comm- textarea{
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.5px black;
}
.comm- textarea:focus-visible{
    box-shadow: 0 0 0 1px inset rgb(0, 162, 255);
}

.top-input- input::placeholder,
.comm- textarea::placeholder{
    font-size: 18px;
}



/* button */
.submit-btn-{
    background-color: rgb(0, 156, 255);
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    padding: 5px 20px;
    margin: 10px 20px 0 20px;
    font-size: 26px;
    border-radius: 5px;
    border: none;
}
.submit-btn-:hover {
    background-color: rgb(0, 118, 191);
}

@media (min-height:1200px) {
    .top-h1- button{
        font-size: 25px;
    }
    .default-img- img{
        height: 140px;
    }
    .submit-btn-,
    .top-input-,
    .comm-{
        font-size: 45px;
    }
    .top-input- input{
        max-width: 100%;
    }
    .submit-btn-{
        width: calc(100% + -40px);
        padding: 10px 50px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .top-input- input{
        height: 30px;
        padding: 10px;
        padding-left: 15px;
        margin: 12.5px 0;
        font-size: 30px;
    }
    .comm- textarea{
        height: 300px;
        padding: 10px;
        padding-left: 15px;
        font-size: 30px;
        border: 1px solid black;
    }
    .top-input- input::placeholder,
    .comm- textarea::placeholder{
        font-size: 30px;
    }
}
