
/* Emial icon */
.email-img-{
    position: fixed;
        top: 5px;
        right: 70px;
    display: flex;
    z-index: 3;
    cursor: pointer;
}
.email-img- img{
    width: 60px;
    object-fit: contain;
}


@media (min-height: 1200px){
    .email-img-{
        right: 100px;
    }
    .email-img- img{
        width: 90px;
    }
}


/* The emial */
.email-section-{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.contact-form-{
    background-color: white;

    position: relative;
    display: block;
    flex-direction: column;


    width: 100%;
    padding: 30px 0;
    -webkit-text-size-adjust: none;
}


/*Email containers */
.top-input-{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    width: calc(100% + -40px);
}

.comment-label-{
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 30px;
}



/* The inputs */
.top-input- input{
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
    width: calc(100% + -10px);
    margin: 5px 0;
    padding: 5px;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 0 0 0 0.5px black;
}
.top-input- input:focus-visible{
    box-shadow: 0 0 0 1px inset rgb(0, 162, 255);
}


.comment-label- textarea{
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.5px black;
}
.comment-label- textarea:focus-visible{
    box-shadow: 0 0 0 1px inset rgb(0, 162, 255);
}
.top-input- input::placeholder,
.comment-label- textarea::placeholder{
    font-size: 18px;
}



/* Send button */
.send-btn-{
    background-color: rgb(0, 156, 255);
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    padding: 5px 20px;
    margin: 10px 20px 0 20px;
    font-size: 26px;
    border-radius: 5px;
    border: none;
}
.send-btn-:hover {
    background-color: rgb(0, 118, 191);
}

@media (min-height:1200px) {
    .send-btn-,
    .top-input-,
    .comment-label-{
        font-size: 45px;
    }
    .top-input- input{
        height: 30px;
        width: calc(100% + -30px);
        padding: 10px 15px;
        margin: 12.5px 0;
        font-size: 30px;
    }
    .comment-label- textarea{
        height: 300px;
        padding: 10px;
        padding-left: 15px;
        font-size: 30px;
        border: 1px solid black;
    }
    .send-btn-{
        width: calc(100% + -40px);
        padding: 10px 50px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .top-input- input::placeholder,
    .comment-label- textarea::placeholder{
        font-size: 30px;
    }
}
