
/*Img and title*/
.bs-main-pfp-{
    display: flex;
    justify-content: center;
    object-fit: contain;
    padding: 50px 0;
}
.main-txt- span{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.main-txt- span span{
    font-family: 'Times New Roman';
    font-style: italic;
}


/*I like it that way*/ 
.sub-main-txt-{
    display: flex;
    justify-content: center;
}
.sub-main-txt-:nth-child(2){
    margin-top: 20px;
}
.sub-main-txt-:nth-child(3){
    margin-bottom: 50px;
}
.sub-main-txt- p{
    position: relative;
    margin: 10px 0;
    
}
.sub-main-txt- .p1-::after{
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    right: -4px;
    width: calc(100% + 4px);
    height: 100%;
    border-left: 1px solid transparent;
    animation: 
    blinker 850ms 55,
    curtIN 1500ms steps(30) forwards;
    animation-delay: 1000ms;
}
.sub-main-txt- .p2-::after{
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    right: -4px;
    width: calc(100% + 4px);
    height: 100%;
    border-left: 1px solid transparent;
    animation: 
    blinker 750ms infinite,
    curtIN 1500ms steps(30) forwards;
    animation-delay: 50000ms;
}

@keyframes blinker {
    0%, 50% {
        border-color: darkorange;
    }
}

@keyframes curtIN {
    to{
        width: 0%;
    }
}

/*aerplane*/
.aerplane-{
    position: fixed;
    font-size: 20px;
    padding: 20px 0;
    white-space: nowrap;
    animation: PLANE 17000ms infinite;
    z-index: 2;
}

@keyframes PLANE {
    from {
        left: -340px;
    }
    to {
        left: calc(340px + 100%);
    }
}