
/* Comment */
.comments-section{
    background-color: white;
    
    display: flex;
    flex-direction: column;
    font-size: 30px;
    
    width: calc(100% + -50px);
    margin: 25px;
    border-radius: 15px;
    -webkit-text-size-adjust: none;
}


/* The head */
.comments-section h3{
    margin: 10px 0;
}


/* The input fields */
.comments-section .name-, 
.comments-section .come-{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-bottom: 10px;
}
.comments-section .name- input, 
.comments-section .come- textarea{
    background-color: rgb(250, 250, 250);
    border: none;
    outline: none;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 1px 0.5px black;
}
.comments-section .name- input:focus-within, 
.comments-section .come- textarea:focus-within{
    box-shadow: 0 0 0.5px 0.5px rgb(0, 183, 196);
}
@media (min-height: 1200px){
    .comments-section .name- input, 
    .comments-section .come- textarea{
        box-shadow: 0 0 1px 2px black;
        
    }
    .comments-section .name- input:focus-within, 
    .comments-section .come- textarea:focus-within{
        box-shadow: 0 0 0.5px 2px rgb(0, 183, 196);
    }
}


/* submit button */
.comments-section .submit-{
    background-color: transparent;
    position: absolute;
        right: 0;
        bottom: -15px;
    display: flex;
    border: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.comments-section .submit- img{
    width: 40px;
    padding: 3px 0 3px 5px;
    object-fit: contain;
}
.comments-section .submit-:hover{
    opacity: 0.9;
}
.comments-section .submit-:active{
    opacity: 0.5;
}

/* status */
.comments-section .status-{
    margin-top: 10px;
}

@media (min-height: 1200px){
    .comments-section .submit-{
        right: 0;
        bottom: 0;
    }
    .comments-section .submit- img{
        width: 65px;
    }
    .comments-section{
        max-width: none;
        font-size: 45px;
    }
    .comments-section .name-, 
    .comments-section .come-{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .comments-section .name- input, 
    .comments-section .come- textarea{
        padding: 10px;
        font-size: 40px;
        border-radius: 10px;
    }
    .comments-section .name- input::placeholder, 
    .comments-section .come- textarea::placeholder{
        font-size: 40px;
    }
    .comments-section .submit-{
        font-size: 40px;
    }
}


/* Comment delete button */
.deleteCommentBtnjs--{
    background-color: red; 
    color: white; 
    margin-top: 5px; 
    padding: 4px 8px; 
    border: none; 
    border-radius: 4px;
}
@media (min-height: 1200px){
    .deleteCommentBtnjs--{
        padding: 5px 10px;
        margin-left: 10px;
        font-size: 26px;
    }
}

/* Show button */
#show_{
    display: none;
}
#show_:checked ~  .show-comments-{
    display: block;
}
.show-btn-{
    background-color: rgb(74, 185, 236);
    color: white;
    display: flex;
    justify-content: center;
    width: calc(100% + -120px);
    font-size: 26px;
    padding: 10px 30px;
    margin: 5px 30px;
    margin-bottom: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}
.show-comments-btn-:active{
    opacity: 0.8;
}
#show_:checked ~ label .show-btn-{
    background-color: white;
    color: rgb(74, 185, 236);
    box-shadow: none;
    margin-bottom: 30px;
    border: 1.5px solid rgb(74, 185, 236);
}

/* Old comments */
.show-comments-{
    display: none;
    margin-left: 30px;
    margin-bottom: 100px;

    -webkit-text-size-adjust: none;
}
.show-comments- h3{
    font-size: 36px;
}
#comments-container p{
    font-size: 26px;
}
.comment p{
    font-size: 26px;
}
.comment small{
    font-size: 20px;
}

@media (min-height: 1200px){
    .show-btn-{
        font-size: 40px;
        padding: 10px 30px;
    }
    .show-comments- h3{
        font-size: 50px;
    }
    #comments-container p{
        font-size: 40px;
    }
    .comment p{
        font-size: 40px;
    }
    .comment small{
        font-size: 26px;
    }
}