.questions-{
    background-color: rgb(250, 255, 255);

    position: relative;
    display: flex;
    flex-direction: column;
    counter-reset: as;

    right: 0;
    padding: 25px;
    margin: 25px 25px;  
    border-radius: 7px;
    font-size: 26px;
    box-shadow: 0 0 5px inset;
}

.questions- div{
    margin-bottom: 5px;
}
.questions- div::before{
    counter-increment: qs;
    content: counter(qs)". ";
    width: 10px;
    height: 10px;
}
.questions- p{
    display: flex;
    margin: 5px 20px;
}
.questions- p::before{
    counter-increment: as;
    content: counter(as, lower-alpha) ". ";
    margin-right: 5px;
}
.questions- img{
    position: relative;
    display: none;
    left: 50%;
    right: 50%;
    padding: 30px;
    transform: translate(-50%, 0 );
    max-width: 600px;
}
.hide-,
.questions- label span{
    cursor: pointer;
    margin-top: 5px;
}


.answer- span{
    cursor: pointer;
}
label .show-{
    display: flex;
}
.check-:checked ~ img{
    display: block;
}
.check-:checked ~ .ans-{
    text-decoration: underline;
}
.check-:checked ~ .hide-,
.check-:checked ~ label .hide-{
    display: flex;
    padding-right: 5px;
}
#hide, .check-,
.hide-,  
label .hide-, 
.check-:checked ~ label .show-{
    display: none;
}
