/* Question container */
.questions- {
    background-color: rgb(250, 255, 255);

    position: relative;
    display: flex;
    flex-direction: column;
    counter-reset: as;

    padding: 25px;
    margin: 25px 25px;
    border-radius: 7px;
    font-size: 20px;
    box-shadow: 0 0 5px inset;
    -webkit-text-size-adjust: none;
}

@media (min-height: 1200px) {
    .questions- {
        font-size: 2.8em;
    }
}

/*Question text*/
.questions- div {
    max-width: 100%;
    margin-bottom: 5px;
}

.questions- div::before {
    counter-increment: qs;
    content: counter(qs)". ";
    width: 10px;
    height: 10px;
}

/* The options */
.questions- p {
    display: flex;
    margin: 5px 20px;
}

.questions- p::before {
    counter-increment: as;
    content: counter(as, lower-alpha) ". ";
    margin-right: 5px;
}

.optionjs--{
    display: block;
    margin-top: 10px;
}

@media (min-height: 1200px) {
    .optionjs--{
        margin-top: 20px;
    }
}



/* Theory question */
.inputjs--{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: solid black 1px;
    -webkit-text-size-adjust: none;
    /* field-sizing: content; */
}

@media (min-height: 1200px){
    .inputjs--{
        font-size: 45px;
    }
}

/* The correct option */
.check-:checked ~ .ans-,
.check-:checked ~ span .ans-,
.check-:checked ~ div .ans- {
    color: green;
}

/* Your option correct */
.check-:checked ~ .underlinejs-- .ans-,
.check-:checked ~ div .underlinejs-- .ans- {
    color: green;
    text-decoration: underline;
}

/* Your option wrong */
.check-:checked ~ .underlinejs--,
.check-:checked ~ div .underlinejs-- {
    color: red;
    text-decoration: none !important;
}





/* Show and hide */
.questions- label{
    margin-top: 15px;
}
@media (min-height: 1200px){
    .questions- label{
        margin-top: 40px;
    }
}
.questions- label span {
    cursor: pointer;
}

.check-:checked~.show-,
.check-:checked~label .show- {
    display: none;
}

.check-:checked~.hide-,
.check-:checked~label .hide- {
    display: flex;
    padding-right: 5px;
}

#hide,
.check-,
.hide- {
    display: none;
}


/*up button */
.up-btn- {
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    right: calc(-50px + 50%);
    bottom: 15px;
    padding: 10px 10px 20px 10px;
    border-radius: 50px;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.up-btn- div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 0;
    width: 0;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 35px solid black;
    z-index: 2;
}


/* Questions image */
.questions- img{
    position: relative;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    object-fit: contain;
}

.questions- .a-img-{
    display: none;
}
.check-:checked ~ .a-img-{
    display: flex;
}

@media (max-height: 1199px) {

    .questions- img {
        max-width: 500px;
    }
}

.imgbox- {
    position: fixed;
    right: 50%;
    bottom: 50%;
    display: flex;
    width: calc(100% + -100px);
    max-width: 800px;
    transform: translate(50%, 50%);
    object-fit: contain;
    font-size: 30px;
    z-index: 13;
}

@media (min-height: 1199px) {
    .imgbox- {
        width: 100%;
        max-width: 100%;
        max-height: 1200px;
    }

    .imgbox- img {
        max-height: 100vh;
    }
}

.imgbox- img {
    position: relative;
    left: 50%;
    display: flex;
    width: 100%;
    max-height: calc(100vh + -100px);
    transform: translate(-50%);
    object-fit: contain;
}