.sidebar-{
    background-color: white;
    color: black;
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 12;
    transition: 500ms;
    overflow-x: hidden;
}
.close-{
    position: absolute;
    display: flex;
    cursor: pointer;

    top: -10px;
    right: 0;
    font-size: 50px;
}
.subject-{
    padding: 50px 0 0 20px;
    white-space: nowrap;
}