.sidebar-{
/*subject container*/
    background-color: white;
    color: black;
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 0;
    max-height: 100vh;
    right: 0;
    width: 0;
    z-index: 12;
    transition: 500ms;
    overflow: scroll;
}
.sidebar-::-webkit-scrollbar{
    display: none;
}
/*outside the bar*/

.curtain-{
    display: none;
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    z-index: 12;
}

.sidebar- div{
    font-size: 25px;
}
@media (min-height: 1200px) {
    .sidebar- div{
        font-size: 40px;
    }
}
/*The x*/
.sidebar- div:first-child{
    position: relative;
    display: flex;
    cursor: pointer;

    top: -10px;
    padding-left: 200px;
    font-size: 70px;
}
@media (min-height: 1200px) {
    .sidebar- div:first-child{
        top: -30px;
        font-size: 130px;
        padding-left: 170px;
    }
}

/*subjects*/
.sidebar- div:not(:first-child){
    position: relative;
        top: -20px;
    padding: 0 0 40px 20px;
    white-space: nowrap;
}
@media (min-height: 1200px) {
    .sidebar- div:not(:first-child){
        position: relative;
        top: -40px;
    }
}

/*inside sidebar-->*/

/* The subjects */
.side-checkbox-{
    display: none;
}
.sidebar- label{
    display: flex;
    cursor: pointer;
}

/* The topics */
.subj-ol-{
    padding-top: 20PX;
    display: none;
}
.subj-ol- li{
max-width: 200px;
    padding: 10px 0;
    white-space: wrap;
}
@media (min-height: 1200px) {
    .subj-ol-{
        margin: 80px 0 0 0;
    }
    .subj-ol- li{
        font-size: 30px;
    }
}


/*The topics (checkbox) - ol*/
.side-checkbox-:checked ~ label .subj-ol-{
    position: relative;
    display: flex;
    flex-direction: column;
    left: -128px;
    width: 100%;
    height: 100%;
}
@media (min-height: 1200px) {
    .side-checkbox-:checked ~ label .subj-ol-{
        left: -200px;
    }
}
.arw-{
    position: relative;
    display: flex;
    top: 10px;
    width: 0;
    height: 0;
    margin-left: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 300ms;
}
@media (min-height: 1200px){
    .arw-{
        top: 16px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid black;
    }
}
.side-checkbox-:checked ~ label .arw-{
    transform: rotate(180deg);
}

/* Strike */
.strike-{
    text-decoration: line-through;
}

/*<-- inside sidebar */