.title-{
    background-color: rgb(252, 252, 252);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    position: relative;
    right: 0;
}

.sub-101-{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 10px 0 10px 0;
}
.topic-{
    font-size: 36px;
    padding: 30px 0 15px 15px;
    -webkit-text-size-adjust: none;
}
.change-{
    display: flex;
    justify-content: space-between;
}
.before-btn-{
    background-color: rgb(170, 201, 98);
    color: white;
    
    display: flex;
    border: none;
    
    font-size: 25px;
    margin: 0 5px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.next-btn-{
    background-color: rgb(170, 201, 98);
    color: white;
    display: flex;
    border: none;

    font-size: 25px;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    
}
@media (min-height: 1200px) {
    .sub-101-{
        font-size: 4.375em;/*70px*/
    }
    .topic-{
        font-size: 3.125em;/*50px*/
    }
    .before-btn-,
    .next-btn-{
        font-size: 2.5em;/*40px*/
        margin: 0 20px;

    }
}
.before-btn-:hover,
.next-btn-:hover{
    background-color: rgb(192, 226, 111);
}
.before-btn-:active,
.next-btn-:active{
    box-shadow: none;
}

.after-{
    justify-content: end;
}
.before-,
.after-{
    position: relative;
    display: flex;
}
.before- .beforepop-,
.after- .afterpop-{
    background-color: gray;
    color: white;
    position: absolute;
    padding: 3px 7px;
    bottom: -29px;
    opacity: 0;
    transition: 500ms;
    white-space: nowrap;
    pointer-events: none;
}
.before-:hover .beforepop-,
.after-:hover .afterpop-{
    opacity: 1;
}
@media (min-height: 1200px){
    .before- .beforepop-,
    .after- .afterpop-{
        bottom: -45px;
        font-size: 1.9em;
    }
}